html {
    background-color: #0D0D0D;
    font-family: "noto-sans", sans-serif;
    color: "#F2F2F2";
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    margin-left: 7.3vw;
    margin-right: 7.3vw;
}


